.container {
  display: flex;
  flex-direction: column;
  margin-left: 21rem;
}

.headerContainer {
  padding-left: 2rem;
  padding-top: 1rem;
  margin-top: 0rem;
  font-size: 1.5rem;
  color: #777;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
