.container {
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: inline-flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.5rem;
    color: #777;
    letter-spacing: 1.5px;
  }
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.water {
  color: rgba(66, 134, 244, 0.9) !important;
  font-size: 3.5rem !important;
  margin-right: 1rem;
}

.sun {
  color: rgba(244, 179, 0, 0.9) !important;
  font-size: 3.5rem !important;
  margin-right: 1rem;
}
