.container {
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.01);
  display: inline-flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
  border-radius: 25px;
  background: #f7f7f7;
  box-shadow: 20px 20px 60px #d2d2d2, -20px -20px 60px #ffffff;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.05);
  }

  p {
    font-size: 1.3rem;
    color: #777;
    letter-spacing: 1.5px;
  }
}

.progress {
  color: red !important;
}

.fertilizerButton {
  background-color: rgba(66, 134, 244, 1) !important;
  border-radius: 5rem !important;
}

.seedlingButton {
  background-color: #4ecca3 !important;
  border-radius: 5rem !important;
}
