.container {
  height: 100vh;
  position: fixed;
  width: 25rem;
  background-color: #eaeff8;
}

.icon {
  font-size: 3rem !important;
  color: #282c34 !important;
}

.active {
  font-size: 3rem !important;
  color: #30c47e !important;
}

.iconActive {
  font-size: 3rem !important;
  color: #30c47e !important;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
}

.logo {
  height: 5.5rem;
  cursor: pointer;
}
