.containerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 95%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 0.4rem;
  margin-left: 0.4rem;
  margin-bottom: 1rem;
  border-radius: 5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    transform: scale(1.1);
  }
}

.iconWrapper {
  margin-right: 1rem;
  margin-left: 1rem;
}

.text {
  font-size: 1.3rem;
  color: #fff;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
}

.icon {
  font-size: 5rem !important;
}

.containerActive {
  width: 95%;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 5rem;
  cursor: pointer;
}

.iconWrapperActive {
  margin-right: 1rem;
  margin-left: 1rem;
}

.textActive {
  font-size: 1.3rem;
  color: #1f232a;
  letter-spacing: 1.5px;
  font-family: 'Lato', sans-serif;
}
