.container {
  height: 100vh;
  width: 21rem;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(45deg, #34e89de0, #0f3443e7);
}

.icon {
  font-size: 3rem !important;
  color: #fff !important;
}

.active {
  font-size: 3rem !important;
  color: #30c47e !important;
}

.iconActive {
  font-size: 3rem !important;
  color: #30c47e !important;
}

.logoutWrapper {
  background-color: #fff;
}
.logout {
  font-size: 3rem !important;
  color: #ff5252a6 !important;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
}

.logo {
  height: 5.5rem;
  cursor: pointer;
}
