.container {
  margin-left: 21rem;
  background-color: #ffffff;
}

.alertContainer {
  position: absolute;
  height: 85vh;
  right: 0;
  display: inline-flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  width: 40%;
  z-index: -2;
}

.alert {
  position: relative;
  margin-top: 1rem;
  right: 2rem;
  animation: slide 0.3s linear;
}

@keyframes slide {
  0% {
    opacity: 0;
    right: -6rem;
  }

  100% {
    opacity: 1;
    right: 2rem;
  }
}
