.container {
  margin-left: 21rem;
}

.alertContainer {
  position: absolute;
  top: 90vh;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
}

.alert {
  position: relative;
  margin-top: 1rem;
  right: 2rem;
  animation: slide 0.3s linear;
}
