.container {
  margin-left: 21rem;
}

.innerContainer {
  width: 90%;
  margin-top: 3rem;
  margin-left: 3rem;
}

.labels {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(240, 243, 246);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.labelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;

  p {
    text-align: center;
    color: #777;
  }
}

.itemListContainer {
  display: flex;
  flex-direction: column;
}
