.container {
  margin-left: 21rem;
}

.labelsContainer {
  display: flex;
  width: 90%;
  justify-content: space-around;
  color: #777;
  font-size: 1rem;
  letter-spacing: 1.5px;
  margin-left: 3rem;
  margin-top: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  background-color: rgb(240, 243, 246);

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
  }
}

.fields {
  display: flex;
  justify-content: space-around !important;
  position: relative;
  top: 3rem;
  left: 6rem;
  width: 34rem;
  div {
    cursor: pointer;
  }
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  height: 2rem;
  padding: 0rem 2rem !important;
  height: 2rem !important;
  width: 8rem !important;
  margin-right: 0.1rem !important;
  p {
    color: rgba(66, 134, 244, 1);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  &:hover {
    background-color: rgba(66, 134, 244, 1);
    border-radius: 5rem;

    p {
      color: #fff;
    }
  }
}

.allActive {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  background-color: rgba(66, 134, 244, 1);
  border-radius: 5rem;
  padding: 0rem 2rem !important;
  height: 2rem !important;
  width: 8rem !important;
  margin-right: 0.1rem !important;

  p {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 3px;
  }
}

.pending {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.2s;
  padding: 0rem 2rem !important;
  height: 2rem !important;
  width: 8rem !important;
  margin-right: 0.1rem !important;
  p {
    color: rgba(244, 179, 0, 1);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  &:hover {
    background-color: rgba(244, 179, 0, 1);
    border-radius: 5rem;

    p {
      color: #fff;
    }
  }
}

.pendingActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(244, 179, 0, 1);
  border-radius: 5rem;
  padding: 0rem 2rem !important;
  height: 2rem !important;
  width: 8rem !important;
  margin-right: 0.1rem !important;
  p {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 3px;
  }
}

.accepted {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.2s;
  padding: 0rem 2rem !important;
  height: 2rem !important;
  width: 8rem !important;
  margin-right: 0.1rem !important;
  p {
    color: rgba(48, 196, 126, 1);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  &:hover {
    background-color: rgba(48, 196, 126, 1);
    border-radius: 5rem;

    p {
      color: #fff;
    }
  }
}

.acceptedActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.2s;
  background-color: rgba(48, 196, 126, 1);
  border-radius: 5rem;
  padding: 0rem 2rem !important;
  height: 2rem !important;
  width: 8rem !important;
  margin-right: 0.1rem !important;
  p {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 3px;
  }
}

.declined {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.2s;
  padding: 0rem 2rem !important;
  height: 2rem !important;
  width: 8rem !important;
  margin-right: 0.1rem !important;
  p {
    color: rgba(219, 69, 55, 1);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  &:hover {
    background-color: rgba(219, 69, 55, 1);
    border-radius: 5rem;

    p {
      color: #fff;
    }
  }
}

.declinedActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.2s;
  background-color: rgba(219, 69, 55, 1);
  border-radius: 5rem;
  padding: 0rem 2rem !important;
  height: 2rem !important;
  width: 8rem !important;
  margin-right: 0.1rem !important;
  p {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 3px;
    color: #fff;
  }
}
