.container {
  display: inline-flex;
  flex-direction: column;
  width: 35rem;
  padding: 3rem 5rem;
  border-radius: 10px;
  background-color: #ededed;
  justify-content: center;
  align-items: center;
}

.input {
  width: 20rem;
  font-size: 2rem !important;
  margin-bottom: 2rem !important;
  background-color: #fff;
}

.radio {
  display: flex;
}

.radio p {
  font-size: 1.1rem;
  margin-right: 1.5rem;
  margin-bottom: 20px;
  color: #777;
}

.button {
  background-color: #30c47e !important;
  width: 10rem;
  margin-top: 2rem !important;
  border-radius: 25px !important;
}

.error {
  margin-bottom: 2rem;
  animation: moveFromTop 0.1s ease-out;
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
