.container {
  display: flex;
  justify-content: flex-start;
}

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100vh;
  // background-color: rgba(221, 232, 248, 0.418);
  // background-color: #eeeeee;
}
