.container {
  height: 100vh;
  background-image: linear-gradient(45deg, #34e89de0, #0f3443e7),
    url('../public/coverPhoto.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  margin: 4rem;
  cursor: pointer;
}
