@media all and (min-width: 801px) {
  .container {
    height: 100vh;
    background-image: linear-gradient(45deg, #34e89de0, #0f3443e7),
      url('../public/coverPhoto.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: ellipse(65% 90% at 52% 10%);
  }

  .innerContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .logo {
    background-repeat: no-repeat;
    height: 21rem;
    // animation: moveInLeft 1s ease-out;
  }

  .slogan {
    letter-spacing: 4px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    // animation: moveInRight 1s ease-out;
  }

  .register {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    background-color: #fff;
    border-radius: 2rem;
    color: #777;
    font-size: 1.2 rem;
    margin-top: 2rem;
    transition: all 0.2s;
  }
}

@media all and (max-width: 800px) {
  .container {
    height: 100vh;
    background-image: linear-gradient(45deg, #34e89de0, #0f3443e7),
      url('../public/coverPhotoMobile.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    clip-path: ellipse(90% 88% at 52% 10%);
  }

  .innerContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .logo {
    background-repeat: no-repeat;
    height: 7rem;
    // animation: moveInLeft 1s ease-out;
  }

  .slogan {
    letter-spacing: 4px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    width: 80%;
    // animation: moveInRight 1s ease-out;
  }

  .register {
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 30px;
    background-color: #fff;
    border-radius: 2rem;
    color: #777;
    font-size: 0.8rem;
    margin-top: 2rem;
    transition: all 0.2s;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }

  60% {
    opacity: 1;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;

    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }

  60% {
    opacity: 1;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;

    transform: translate(0);
  }
}
