.container {
  height: 100vh;
  background-image: linear-gradient(45deg, #11a49b, #90fc8e);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: ellipse(65% 90% at 52% 10%);
}

.logo {
  background-image: url("../public/assets/default-monochrome.svg");
  background-repeat: no-repeat;
  height: 20rem;
}

.slogan {
  letter-spacing: 5px;
  color: #2c4845;
  font-size: 1.2rem;
  font-weight: 500;
}
