@media all and (min-width: 601px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .innerContainer {
    display: flex;
    margin-top: 2rem;
  }

  .header {
    font-size: 3rem;
    color: #28b485;
  }

  .smallHeader {
    color: #777;
    font-size: 1.8rem;
    line-height: 2rem;
    width: 110%;
  }

  .textWrapper {
    width: 25rem;
  }

  .text {
    color: #777;
    font-size: 1rem;
    width: 120%;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 30%;
  }

  .rightSide {
    flex-basis: 30%;
  }

  .rightSide img {
    position: relative;
    left: 6rem;
    margin-left: 3rem;
    max-width: 46rem;
  }
}

@media all and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .header {
    font-size: 1.7rem;
    color: #28b485;
    width: 80%;
  }

  .smallHeader {
    color: #777;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 95%;
    text-align: center;
  }

  .textWrapper {
    width: 25rem;
  }

  .text {
    color: #777;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 30%;
    :nth-child(2) {
      margin-top: 2rem;
    }
  }

  .rightSide {
    flex-basis: 30%;
  }

  .rightSide img {
    position: relative;
    height: 14rem;
    margin-top: 3rem;
  }
}
