.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 4rem;
  color: #777;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
