.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: #777;
  font-size: 1rem;

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
