.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: #777;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(240, 243, 246);

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
