.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.2s;
  border-bottom: 2px solid rgba(66, 134, 244, 0.9);
  cursor: pointer;

  p {
    color: rgba(66, 134, 244, 0.9);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  &:hover {
    background-color: rgba(66, 134, 244, 0.9);
    border-radius: 5rem;

    p {
      color: #fff;
    }
  }
}

.seedlings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.2s;
  border-bottom: 2px solid rgba(48, 196, 126, 0.9);
  cursor: pointer;

  p {
    color: rgba(48, 196, 126, 0.9);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  &:hover {
    background-color: rgba(48, 196, 126, 0.9);
    border-radius: 5rem;

    p {
      color: #fff;
    }
  }
}

.fertilizers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid rgba(244, 179, 0, 0.9);
  transition: all 0.2s;
  cursor: pointer;

  p {
    color: rgba(244, 179, 0, 0.9);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  &:hover {
    background-color: rgba(244, 179, 0, 0.9);
    border-radius: 5rem;

    p {
      color: #fff;
    }
  }
}
