.container {
  display: flex;
  flex-direction: column;
  margin-left: 21rem;
}

.dataWrapper {
  width: 94%;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  margin-bottom: 1rem;
  margin-left: 2.3rem;
}
