.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  color: #777;
  font-size: 0.9rem;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.field {
  justify-content: center;
  align-items: center;
  flex-basis: 15%;
  min-width: auto;
  max-width: auto;
  text-align: center;
}

.functionWrapper {
  padding: 0.59rem;
}

.accept {
  color: rgba(48, 196, 126, 1);
  cursor: pointer;
  margin-right: 2rem;
}

.accepted {
  color: rgba(48, 196, 126, 1);
  font-weight: 500;
}

.decline {
  color: rgba(219, 69, 55, 1);
  cursor: pointer;
}

.declined {
  color: rgba(219, 69, 55, 1);
  font-weight: 500;
}
