.fields {
  display: flex;
  justify-content: space-around;
}

.fieldContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  cursor: pointer;
  transition: all 0.2s;

  p {
    font-size: 0.9rem;
    color: #fff;
    letter-spacing: 2px;
  }
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.2s;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  p {
    color: rgba(66, 134, 244, 0.9);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  &:hover {
    background-color: rgba(66, 134, 244, 0.9);
    border-radius: 5rem;

    p {
      color: #fff;
    }
  }
}

.pending {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s;

  p {
    color: rgba(244, 179, 0, 0.9);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  &:hover {
    background-color: rgba(244, 179, 0, 0.9);
    border-radius: 5rem;

    p {
      color: #fff;
    }
  }
}

.accepted {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  transition: all 0.2s;

  p {
    color: rgba(48, 196, 126, 0.9);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  &:hover {
    background-color: rgba(48, 196, 126, 0.9);
    border-radius: 5rem;

    p {
      color: #fff;
    }
  }
}

.declined {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s;

  p {
    color: rgba(219, 69, 55, 0.9);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  &:hover {
    background-color: rgba(219, 69, 55, 0.9);
    border-radius: 5rem;

    p {
      color: #fff;
    }
  }
}

.dataFields {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  letter-spacing: 1.5px;
  color: #777;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);

  :first-child {
    flex-basis: 5%;
  }
}

.dataField {
  justify-content: center;
  align-items: center;
  flex-basis: 15%;
  text-align: center;
}
