.fields {
  display: flex;
  justify-content: space-around;
}

.fieldContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  cursor: pointer;
  p {
    font-size: 0.9rem;
    color: #fff;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  transition: all 0.2s;
  &:hover {
    -webkit-filter: brightness(80%);
  }
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #4286f4;
}

.pending {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f4b300;
}

.accepted {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0f9d58;
}

.declined {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #db4537;
}

.dataFields {
  display: flex;
  justify-content: center;
  align-items: center;
  :first-child {
    flex-basis: 5%;
  }
}

.dataField {
  justify-content: center;
  align-items: center;
  flex-basis: 15%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
