.headingWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.heading {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}

.requests {
  height: 15rem;
}

.welcomeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.welcomeTextWrapper {
  display: flex;
  font-family: 'Lato', sans-serif;
  flex-direction: column;
  align-items: flex-start;
}

.weclomeHeader {
  font-size: 2rem;
}

.welcomeText {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
}
